body{
    margin:0px;
    text-align:center;
    background-color:#ccf38c;
}
h1{
    background-color:#36c080;
    text-align:center;
    margin:0px;
    padding:50px;
    color:#FFFFFF;
    opacity:1;
}
h3{
    text-align:center;
    color:#000000
}