body{
    margin:0px;
    text-align:center;
    background-color:#84d6eb;
}
h1{
    background-color:#3d85c8;
    text-align:center;
    margin:0px;
    padding:50px;
    color:#FFFFFF;
    opacity:1;
}
h3{
    text-align:center;
    color:#000000
}
h4{
    margin-top:0px
}
div{
    height:100px;
}